@import "../sass/partials/variables";
@import "../sass/partials/global";
@import "../sass/partials/layout";
@import "../sass/partials/normalize";
@import "../sass/partials/typography";

@import "../sass/pages/homepage";
@import "../sass/pages/about";
@import "../sass/pages/header";
