.searchInput {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .title-search {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: normal;
  }

  h3 {
    font-size: 20px;
    margin-right: 10px;
    line-height: 38px;
    letter-spacing: 2px;
    font-weight: normal;
  }

  input {
    width: 250px;
    border-radius: 8px;
    border: none;
  }

  a {
    margin-left: 20px;
    padding: 0 15px;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 38px;
    background-color: $color-primary;
    border-radius: 8px;
  }
}

.numberOfFound {
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;
  margin: 60px 0;
}


@media (max-width: 320px) {
  .searchInput {
    h3 {
      font-size: 20px;
      margin-right: 15px;
    }

    input {
      width: 110px;
    }
  }

  .numberOfFound {
    text-align: center;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .searchInput {
    h3 {
      font-size: 20px;
      margin-right: 15px;
    }

    input {
      width: 110px;
    }
  }

  .numberOfFound {
    text-align: center;
    font-size: 18px;
  }
}