body {
  margin: 0;
  background: $color-dark-gray;
  font-family: $font-main;
  font-size: 14px;
  font-weight: $font-normal;
  color: $color-light;
  overflow-x: hidden;
}

.container {
  margin-bottom: 60px;
}
