
.h1 {
    font-family: $font-main;
    font-size: 26px;
    text-transform: uppercase;
  }
  
  .h2 {
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .h3 {
    font-size: 12px;
    text-transform: uppercase;
  }