h1 {
  font-family: $font-main;
  font-size: 200px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-size: 30px;
  margin: 0;
}

h4 {
  font-size: 20px;
  margin: 0;
}

p {
  margin: 0;
}
