h1 {
  font-family: $font-main;
  font-size: 135px;
  text-transform: uppercase;
  color: $color-light;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: $color-light;
  margin: 0;
}

h3 {
  font-size: 12px;
  text-transform: uppercase;
  color: $color-light;
}