// Variables

$color-primary: #CF383E;
$color-light: #FFF;
$color-dark: #131313;
$color-gray: #BFBFBF;

$font-main: 'Source Sans Pro',
sans-serif;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;