// Variables

$color-primary: #cf383e;
$color-light: #fff;
$color-dark: #000;
$color-dark-gray: #131313;
$color-gray: #bfbfbf;

$font-main: "Source Sans Pro", sans-serif;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;
